:root {
    --grey: rgb(233, 233, 233);
    --green: rgb(85, 105, 57);
    
    font-family: sans-serif;
}

body, html {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.side-bar {
    height: 100vh;
    position: relative;
}

.side-bar > img {
    height: 100%;
}

.logo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 12rem;
    padding: 1rem 0rem;
}

.logo div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo div img:nth-child(2) {
    height: 8rem;
}

.logo img {
    height: 10rem;
    margin: 0;
}

.header, .footer {
    background-color: var(--grey);
    height: 18rem;
    width: 2000vh;
    margin: 0;
}

p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-left: 3rem;
    line-height: 1.2em;
}

.header > div {
    padding-top: 5rem;
    width: 60rem;
}

button {
    background-color: var(--green);
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 12rem;
    height: 3rem;
    border-radius: .4rem;
    margin-left: 3rem;
    margin-top: 3rem;
}

.footer p {
    font-size: 16px;
    margin: 0;
}

.footer div {
    margin-top: 2rem;
    margin-left: 3rem;
    display: flex;
    gap: .5rem;
}

.footer p:last-child {
    color: var(--green);
}

.content {
    height: 24rem;
    width: 100%;
    margin: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
    padding-left: 3rem;
    z-index: 5;
}

.content div div {
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
}

input {
    width: 16rem;
    height: 1.7rem;
    border: 2px solid #E5E7EB;
    font-size: 16px;
    transition: all .2s ease-in-out;
    outline: none;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px rgb(30, 127, 206);
}

.container {
    display: flex;
    margin-bottom: 2rem;
}
.footer {
    position: relative;
    top: 5px;
}